{% extends "base.html" %}

{% block title %}Academia{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "navbar.html" %}
<div class="col-md-8 col-md-offset-2" align="center">
    <div class="jumbotron">
        <p>Seja bem vindo {% if user.is_authenticated %}{{ user.first_name }}{% else %}usuário anônimo{% endif %}</p>
        {% for usuario in usuario %}
            {% if usuario.imc is not None %}
                {% if usuario.imc < 18.5 %}
                    <p align="center">IMC {{usuario.imc}} - Abaixo do peso</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
                    </div>
                {% elif usuario.imc >= 18.6 and usuario.imc <= 24.9 %}
                    <p align="center">IMC {{usuario.imc}} - Peso ideal</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 100%"></div>
                    </div>
                {% elif usuario.imc >= 25.0 and usuario.imc <= 29.9 %}
                    <p align="center">IMC {{usuario.imc}} - Levemente acima do peso</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 70%"></div>
                    </div>
                {% elif usuario.imc >= 30.0 and usuario.imc <= 34.9 %}
                    <p align="center">IMC {{usuario.imc}} - Obesidade grau 1</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 80%"></div>
                    </div>
                {% elif usuario.imc >= 35.0 and usuario.imc <= 39.9 %}
                    <p align="center">IMC {{usuario.imc}} - Obesidade grau 2 (severa)</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 90%"></div>
                    </div>
                {% else %}
                    <p align="center">IMC {{usuario.imc}} - Obesidade grau 3 (mórbida)</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 100%"></div>
                    </div>
                {% endif %}
            {% else %}
                <p align="center">Acesse para concluir seu cadastro <a class="btn btn-sm" href="{% url 'core:info_pessoal' %}"><i class="fa fa-share"></i></a></p> 
            {% endif %}
            {% if usuario.agua is not None %}
                <p>Quantidade minima de consumo de água por dia {{ usuario.agua }} ml</p>
                Último consumo {{ consumo_diario }} ml (valor referente ao último dia em que houve registros)
                {% if acima_do_minimo == False %}
                    {% if usuario.agua == usuario.consumo_agua %}
                        <p>Parabéns! Você ja consumiu o minimo de água necessário hoje. <a href="{% url 'core:consumo_agua' %}" class="btn btn-sm btn-info"><i class="fa fa-tint"></i></a></p>
                    {% else %}
                        <p>Consumido hoje {% if usuario.consumo_agua is not None %}{{ usuario.consumo_agua }}{% else %} 0 {% endif %} ml, resta {{ agua }} ml <a href="{% url 'core:consumo_agua' %}" class="btn btn-sm btn-warning"><i class="fa fa-tint"></i></a></p>
                    {% endif %}
                {% else %}
                    <p>Consumido hoje {% if usuario.consumo_agua is not None %}{{ usuario.consumo_agua }}{% else %} 0 {% endif %} ml, você ja consumiu {{ agua }} ml acima do minimo necessário hoje <a href="{% url 'core:consumo_agua' %}" class="btn btn-sm btn-info"><i class="fa fa-tint"></i></a></p>
                {% endif %}
                {% if percentual < 40 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: {{percentual}}%"></div>
                    </div>
                {% elif percentual > 40 and percentual < 65 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{percentual}}%"></div>
                    </div>
                {% else %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{percentual}}%"></div>
                    </div>
                {% endif %}
                <p>{{ percentual }}% <i class="fa fa-tint"></i></p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
{% include "navbar.html" %}
<div class="col-md-6 col-md-offset-3" align="center">
    <div class="jumbotron">
        <h4>Faça <a class="text-warning" href="{% url 'core:login' %}">login</a> ou crie uma <a class="text-warning" href="{% url 'core:nova_conta' %}">nova conta</a> para acessar</h4>
    </div>
</div>
{% endif %}

{% endblock %}