{% extends "base.html" %}

{% block title %}Academia{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "navbar.html" %}
<div class="col-md-6 col-md-offset-3" align="center">
    <div class="jumbotron">
        <p>Seja bem vindo {% if user.is_authenticated %}{{ user.first_name }}{% else %}usuário anônimo{% endif %}</p>
        <p><a href="{% url 'core:logout' %}">Logout</a>.</p>
    </div>
</div>
{% else %}
{% include "navbar.html" %}
<div class="col-md-6 col-md-offset-3" align="center">
    <div class="jumbotron">
        <h4>Faça <a class="text-warning" href="{% url 'core:login' %}">login</a> ou crie uma <a class="text-warning" href="{% url 'core:nova_conta' %}">nova conta</a> para acessar</h4>
    </div>
</div>
{% endif %}

{% endblock %}