{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="col-md-6 col-md-offset-3" align="center">
    <div class="jumbotron">
        <h3>Fazer login</h3>
        <form role="form" class="form" method="POST" action="{{ request.path }}{% if next %}?next={{ next }}{% endif %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning"><i class="fa fa-check" aria-hidden="true"></i> Login</button>
        </form>
    </div>
</div>

{% endblock %}