{% extends "base.html" %}

{% block title %}Consumo de àgua{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <h5>Relatório de consumo de àgua</h5>
            </div>
            {% if relatorio %}
                <table class="table">
                    <tr>
                        <th>Consumo em ml</th>
                        <th>Data</th>
                    </tr>
                    {% for r in relatorio %}
                    <tr>
                        <td>{{r.consumo_agua}}</td>
                        <td>{{r.data}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="panel-body" align="center">
                    <h6>Nenhum consumo de àgua registrado <a class="btn btn-sm btn-success" href="{% url 'core:consumo_agua' %}"><i class="fas fa-plus"></i></a></h6>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% load static %}
<script src="{% static '/core/js/treinamentos.js' %}"></script>
{% endblock %}