{% extends "base.html" %}

{% block title %}Treinamentos{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <h5>Treinamentos {% if treinamentos %}<a class="btn btn-sm btn-success" href="{% url 'core:treinamento' %}"><i class="fa fa-plus"></i></a>{% endif %}</h5>
            </div>
            {% if treinamentos %}
                <table class="table">
                    <tr>
                        <th>Exercicio</th>
                        <th>Séries</th>
                        <th>Repetições</th>
                        <th>Tempo</th>
                        <th>Distancia</th>
                        <th>Carga</th>
                        <th>Musculo trabalhado</th>
                        <th>Data do treinamento</th>
                        <th>Ações</th>
                    </tr>
                    {% for treinamento in treinamentos %}
                    <tr>
                        {% if treinamento.exercicio == '' or treinamento.exercicio is None or treinamento.exercicio == 0 %}
                        <td>-</td>
                        {% else %}
                            <td>{{ treinamento.exercicio }}</td>
                        {% endif %}
                        {% if treinamento.series == '' or treinamento.series is None or treinamento.exercicio == 0 %}
                            <td>-</td>
                        {% else %}
                            <td>{{ treinamento.series }}</td>
                        {% endif %}
                        {% if treinamento.repeticao == '' or treinamento.repeticao is None or treinamento.repeticao == 0 %}
                            <td>-</td>
                        {% else %}
                            <td>{{ treinamento.repeticao }}</td>
                        {% endif %}
                        {% if treinamento.tempo == '' or treinamento.tempo is None or treinamento.tempo == 0 %}
                            <td>-</td>
                        {% else %}
                            <td>{{ treinamento.tempo }}</td>
                        {% endif %}
                        {% if treinamento.distancia == '' or treinamento.distancia in None or treinamento.distancia == 0 %}
                            <td>-</td>
                        {% else %}
                            <td>{{ treinamento.distancia }}</td>
                        {% endif %}
                        {% if treinamento.peso == '' or treinamento.peso is None or treinamento.peso == 0 %}
                            <td>-</td>
                        {% else %}
                            <td>{{ treinamento.peso }} KG</td>
                        {% endif %}
                        {% if treinamento.exercicio.musculo == '1' %}
                            <td>Abdome</td>
                        {% elif treinamento.exercicio.musculo == '2' %}
                            <td>Bíceps</td>
                        {% elif treinamento.exercicio.musculo == '3' %}
                            <td>Costas</td>
                        {% elif treinamento.exercicio.musculo == '4' %}
                            <td>Peito</td>
                        {% elif treinamento.exercicio.musculo == '5' %}
                            <td>Pernas</td>
                        {% elif treinamento.exercicio.musculo == '6' %}
                            <td>Tríceps</td>
                        {% elif treinamento.exercicio.musculo == '7' %}
                            <td>Ombros</td>
                        {% elif treinamento.exercicio.musculo == '8' %}
                            <td>Nádegas</td>
                        {% elif treinamento.exercicio.musculo == '9' %}
                            <td>Antebraço</td>
                        {% elif treinamento.exercicio.musculo == '10' %}
                            <td>Eretos da espinha</td>
                        {% endif %}
                        {% if treinamento.data == '' or treinamento.data is None or treinamento.data == 0 %}
                            <td>-</td>
                        {% else %}
                            <td>{{ treinamento.data }}</td>
                        {% endif %}
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-sm btn-primary" href="{% url 'core:treinamento_edit' treinamento.id %}"><i class="fa fa-pencil"></i></a>
                                <a class="btn-delete btn btn-sm btn-danger" name="{{ treinamento.id }}"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="panel-body" align="center">
                    <h6>Nenhum treinamento cadastrado <a class="btn btn-sm btn-success" href="{% url 'core:treinamento' %}"><i class="fa fa-plus"></i></a></h6>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times</span>
            </button>
            <h3 id="modal-title" class="modal-title text-center"></h3>
        </div>

        <div id="modal-body" class="modal-body" align="center"></div>
        <input type="hidden" id="id-treinamento" />

        <div class="modal-footer">
            <button id="btn-nao" type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
            </button>
            <button id="btn-sim" type="button" class="btn btn-sm btn-success">
                <i class="fa fa-check" aria-hidden="true"></i> Sim
            </button>
        </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% load static %}
<script src="{% static '/core/js/treinamentos.js' %}"></script>
{% endblock %}